[Desktop Entry]
Encoding=UTF-8
Name=Link to java
Type=Link
URL=https://github.com/geoframecomponents/richards1D/tree/master/src/main/java
Icon=text-html
